openapi: 3.1.0

info:
  title: Go2Asia Platform API
  description: >
    Unified API specification for all Go2Asia backend microservices.
    This file defines the global schema and shared components.
    Each microservice extends this file via modular OpenAPI fragments.
  version: 0.1.0
  contact:
    name: Go2Asia Dev Team
    email: fred8909599296@gmail.com

servers:
  - url: https://api.go2asia.space
    description: Production API Gateway
  - url: https://staging.api.go2asia.space
    description: Staging Environment

paths: {}
  # Paths will be added by each backend service module:
  # - Auth Service
  # - User Service
  # - Content Service
  # - Atlas Service
  # - Pulse Service
  # - Media Service
  # - Referral Service
  # - Tokenomics Service
  # - Gateway Routes

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          example: "Unauthorized"
        message:
          type: string
          example: "Invalid or missing token"
        code:
          type: string
          example: "UNAUTHORIZED"

    # Common pagination
    PaginationParams:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
          default: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    # User entity (basic)
    User:
      type: object
      required:
        - id
        - email
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        username:
          type: string
        displayName:
          type: string
        avatar:
          type: string
          format: uri
          nullable: true
        role:
          type: string
          enum: [spacer, vip, pro, partner]
        referralCode:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # Place entity (basic)
    Place:
      type: object
      required:
        - id
        - name
        - type
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        type:
          type: string
          enum: [country, city, place, guide]
        description:
          type: string
        location:
          $ref: "#/components/schemas/Location"
        images:
          type: array
          items:
            type: string
            format: uri
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Location:
      type: object
      properties:
        latitude:
          type: number
          format: float
        longitude:
          type: number
          format: float
        address:
          type: string
        city:
          type: string
        country:
          type: string

    # Event entity (basic)
    Event:
      type: object
      required:
        - id
        - title
        - startDate
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        slug:
          type: string
        description:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
          nullable: true
        location:
          $ref: "#/components/schemas/Location"
        placeId:
          type: string
          format: uuid
          nullable: true
        category:
          type: string
        image:
          type: string
          format: uri
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # Post entity (basic)
    Post:
      type: object
      required:
        - id
        - content
        - authorId
      properties:
        id:
          type: string
          format: uuid
        content:
          type: string
        authorId:
          type: string
          format: uuid
        author:
          $ref: "#/components/schemas/User"
        images:
          type: array
          items:
            type: string
            format: uri
        location:
          $ref: "#/components/schemas/Location"
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

tags:
  - name: auth
    description: User authentication & session management
  - name: users
    description: User profiles and account data
  - name: content
    description: Posts, reactions, media metadata
  - name: atlas
    description: Countries, cities, places, guides
  - name: pulse
    description: Events, schedules and calendars
  - name: referral
    description: Referral system and invite tracking
  - name: tokenomics
    description: Points, G2A token and NFT logic

x-microservices:
  auth:
    service: auth-service
    repo: services/auth
  user:
    service: user-service
    repo: services/user
  content:
    service: content-service
    repo: services/content
  atlas:
    service: atlas-service
    repo: services/atlas
  pulse:
    service: pulse-service
    repo: services/pulse
  referral:
    service: referral-service
    repo: services/referral
  tokenomics:
    service: tokenomics-service
    repo: services/tokenomics

x-notes:
  - This file is the primary API contract for the entire Go2Asia platform.
  - Microservices should extend this file via modular OpenAPI fragments.
  - Typescript types and SDK are generated from this file (OpenAPI-first).
